<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>

<body>
    <h1>Edit</h1>
    <form method="POST" action="/posts/<%= post.id %>/?_method=PATCH">
        <label for="bio">Bio:</label>
        <br>
        <textarea name="bio" id="" cols="30" rows="10">
        <%= post.bio %> 
    </textarea>
    <br>
        <button>Save</button>
    </form>
</body>

</html>